<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Список с жанрами</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <th>Title</th>
        <th>Genres</th>
    </tr>
    <tr class="title template" style="display: none">
        <td class="title1"><a href="url"></a></td>
        <td class="genres"></td>
    </tr>
    </tbody>
</table>
<h1>Статистика</h1>
<table>
    <tbody>
    <tr>
        <th>Genre</th>
        <th>Count</th>
    </tr>
    <tr class="genre template" style="display: none">
        <td class="genre1"></td>
        <td class="count"></td>
    </tr>
    </tbody>
</table>
</body>
</html>